.space-outer {
    min-height: 100vh;
    display: flex;
    font-weight: 400;
    font-family: sans-serif;
    background: #12c2e9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    
}



.space-inner {
    width: 50rem;
    max-height: 50rem;
    margin: auto;
    background: #ffffff;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    padding: 40px 55px 45px 55px;
    border-radius: 15px;
    transition: all .3s;
    overflow-y: scroll;
}

.space-outer .form-control:focus {
    border-color: #167bff;
    box-shadow: none;
}

.space-outer h3 {
    text-align: center;
    margin: 0;
    line-height: 1;
    padding-bottom: 20px;
}
.space-button {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.space-button-selector {
    background : #167bff;
    width: 10rem;
    height: 10rem;
    cursor: pointer;
    margin: 1rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.space-button-selector p {
    color: #ffffff;
    font-size: 1.0rem;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50rem;
    padding: 2rem;
    background: #fff;
}